<section class="module module-narrow module-shallow">
<h2 class="module-heading">{{ _('Filter storage usage') }}</h2>
<form action= "{{ action }}" method="get" class="module-content form-inline form-narrow">
<div class="control-group">
<label for="field-org">{{ _('Usage per organization') }}</label>
<select id="field-org" name="org" data-module="autocomplete">
<option value="not_selected" selected="selected"> {{_('Choose an organization')}}</option>
	{% for organization in orgs %}
		{# get out first org from users list only if there is not an existing org #}
		<option value="{{ organization[1] }}" {% if organization[1] == org_selected %} selected="selected" {% endif %}>{{ organization[0] }}</option>
	{% endfor %}
</select>
</div>
<div class="form-actions">
<button class="mybutton">{{ _('Apply') }}</button>
<a class="btn" href="/admin/storage">{{ _('Cancel') }}</a>
</div>
</form>
</section>