{% extends "page.html" %}
{% block subtitle %}{{ _('CKAN - Storage Administration') }}{% endblock %}
{% block breadcrumb_content %}
<li>{{ _('Storage Administration') }}</li>
{% endblock %}
{% block primary_content %}
<div class="page-header" style="border-left: 1px solid #d4d4d4;">
<h1 style="padding-left:1em;" >{{ _('Storage Administration') }}</h1>
</div>
<link rel="stylesheet" type="text/css" href="/spinner.css"/>
<form action="" method="post" class="module-content form-inline form-narrow">
<input type="hidden" name="refresh" value=1 />
<button class="mybutton has-spinner" data-loading-text="loading..." style="float: right;"><span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> {{ _('Refresh data') }}</button>
</form>
<script type="text/javascript">
$(function(){
    $('a, button').click(function() {
        $(this).toggleClass('active');
    });
});
</script>
{% if stats_org %}
<p>
{{ _('Filesystem storage') }} : {{ h.localised_filesize(filesystem) }}
</p>
<p>
{{ _('Database storage') }} : {{ h.localised_filesize(database) }}
</p>
<p>
{{ _('Triplestore storage') }} : {{ h.localised_filesize(triplestore) }}
</p>
<p>
{{ _('Last update time') }} : {{ update_time }}
</p>
<table class="table table-striped table-responsive">
	<thead>
      <tr>
        <th>{{_('Organization')}}</th>
        <th>{{_('Filesystem usage')}}</th>
        <th>{{_('Database usage')}}</th>
        <th>{{_('Triplestore usage')}}</th>
      </tr>
    </thead>
<tbody>
{% for organization in stats_org %}
		<tr>
		<td><a href="{{ organization['url'] }}">{{organization['title']}}</a></td>
		<td>{{ h.localised_filesize(organization['filesystem']) }} ({{organization['filesystem_perc']}}%)</td>
		<td>{{ h.localised_filesize(organization['database']) }} ({{organization['database_perc']}}%)</td>
		<td>{{ h.localised_filesize(organization['triplestore']) }} ({{organization['filesystem_perc']}}%)</td>
		</tr>
{% endfor %}
 </tbody>
</table>
{% else %}
	<p>
	{{_('The computation of storage usage has not been executed. Trigger it now!')}}
	</p>
{% endif %}
{% endblock %}

{% block secondary_content %}
{% snippet "storage/snippets/search_form.html", orgs=orgs, org_selected=org_selected, action="/admin/storage/detail"%}
{% endblock %}